@charset "UTF-8";

@font-face {
    font-family: 'Ninja Naruto';
    src: url(../fontes/njnaruto.ttf) format('opentype');
    font-weight: normal;
}

:root {
    --cor-0: #ebeac5;
    --cor-1: #D9984A;
    --cor-2: #D9A036;
    --cor-3: #8FADBF;
    --cor-4: #5D84A6;
    --cor-5: #2C3F59;

    --fonte-padrão: Arial, Helvetica, sans-serif;
    --fonte-padrão-2: 'Trebuchet MS', Helvetica, sans-serif;
    --fonte-destaque: 'Ninja Naruto', cursive;

}


* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, var(--cor-3), var(--cor-5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header>h1 {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}



nav {
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--cor-0);
    text-decoration: none;
    margin: 0px 15px;
    font-size: 1.2em;
    font-family: var(--fonte-padrão);
}

nav a:hover {
    color: var(--cor-1);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
    border-radius: 5px;
}

.intro {
    background-color: var(--cor-1);
    padding: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

.intro h1 {
    font-family: var(--fonte-destaque);
    color: var(--cor-5);
    margin-bottom: 10px;
}

.intro p {
    font-family: var(--fonte-padrão);
    color: var(--cor-5);
    font-size: 1.2em;
}

.intro strong {
    color: var(--cor-5);
    font-weight: bold;
    text-shadow: #f7f7f7 1px 1px 0px;
}

.imagem-principal img {
    display: block;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.699)), url(../imagens/monumento.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: var(--fonte-padrão-2);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

main h2 {
    font-family: var(--fonte-padrão);
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    font-size: 1.8em;
    font-weight: bolder;
    margin-bottom: 20px;
    color: var(--cor-5);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: larger;
}

main img {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.699)), url(../imagens/folha.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

main strong {
    color: var(--cor-1);
    font-weight: bold;
    font-family: var(--fonte-destaque);
    text-shadow: #2C3F59 1px 1px 0px;
}

div {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

div img {
    display: block;
    margin: auto;
    max-width: 900px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div h2 {
    font-family: var(--fonte-padrão);
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bolder;
    color: var(--cor-5);
    text-decoration: underline var(--cor-1);
}

div strong {
    color: var(--cor-1);
    font-weight: bold;
    font-family: var(--fonte-destaque);
    text-shadow: #2C3F59 1px 1px 0px;
}

abbr {
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    color: var(--cor-5);
}

.conclusao p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: larger;
}

.buttom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    background-color: var(--cor-2);
    color: var(--cor-0);
    text-decoration: none;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--cor-4);
    color: var(--cor-0);
}
